//
// Utility classes
// --------------------------------------------------
@import "variables";

// Floats
// -------------------------

.ellipsis{
    @extend %ellipsis;
}

.clearfix {
    @include clearfix;
}

.center-block {
    @include center-block;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

// Alignment
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
    display: none !important;
    visibility: hidden !important;
}

// For Affix plugin
// -------------------------

.affix {
    position: fixed;
}

.vertical-middle {
    vertical-align: middle;
}
.inline-block{
    display: inline-block;
}
.pull-height{
    height: 100%;
}


// btn
.btn {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

// message
.el-message {
    top: 30px!important;
}

// date-picker
.el-time-spinner__item {
    line-height: 15px!important;
}

// input
.el-input__inner {
    height: 30px!important;
}

// table
.el-table .cell,
.el-table th > div{
    padding: 8px!important;
    line-height: 1.42857143!important;
}
.table-row{
    cursor: pointer;
}

// wrapper
.wrapper{
    height: calc(100vh - 70px);
    overflow-y: auto;
}